<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <style>
        table, th, td, tbody {
        border: 1px solid black;
        border-collapse: collapse;
        }
    </style>
</head>
<body>
    <table>
            <tr>
                <th>Income</th>
                <th>Expense</th>
                <th>Debt</th>
            </tr>
            <tr>
                <td><a href="http://127.0.0.1:8000/view/income">{{ income }}</a></td>
                <td><a href="http://127.0.0.1:8000/view/expense">{{ expense }}</a></td>
                <td><a href="http://127.0.0.1:8000/view/debt">{{ debt }}</a></td>
            </tr>
    </table>

    <h3>your total money considering debts is:</h3>
    <h3>{{ totalWD }}</h3>
    <h3>your total money is:</h3>
    <h3>{{ total }}</h3>
</body>
</html>